@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-roboto), 'Roboto', sans-serif;
}

code, pre {
  font-family: var(--font-roboto-mono), 'Roboto Mono', monospace;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
