@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  background: #1c1c1a;
}

body {
  font-family: var(--font-roboto), 'Roboto', sans-serif;
  background: #1c1c1a;
}

code, pre {
  font-family: var(--font-roboto-mono), 'Roboto Mono', monospace;
}

@layer base {
  a, button, input, textarea, select {
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
